* {
  margin: 0;
}

.app {
  background-color: rgb(241, 239, 239);

}

.app__header {

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  /* one line */
  justify-content: space-between;



}

.h1 {
  background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
  text-shadow: 5px -5px black, 4px -4px white;
  font-weight: bold;
  font-size: 35px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;


}

.app_postsRight {
  margin-left: 50px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__headerImage {
  object-fit: contain;
  width: 120px;
  /* no strech */

}

.app__upload{
  object-fit: contain;
}